:root {
--white-text-color: #ffffff;
--accent-color: #2196f3;
--black-logo-color: #000000;
--footer-text-color: #ffffff99;
--white-background-color: #ffffff;
--hero-background-color: #2f303a;
--team-background-color: #f5f4fa;
--primary-text-color: #212121;
--secondary-text-color: #757575;
--border-header-color: #ececec;
--border-portfolio-color: #eeeeee;
--items: 1;
--indent: 30px;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--white-background-color);
    color: var(--primary-text-color);
}

h1, h2, h3, h4, h5, h6, ul, p {
    margin: 0;
    padding: 0;
}

.list {
    list-style-type: none;
}
 
.link {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px; 
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.header {
    background-color: var(--white-background-color);
}

.logo {
    font-family: Raleway, sans-serif; 
    margin-left: 0;
    font-weight: 700; 
    font-size: 26px; 
    line-height: 1.19; 
    color: var(--accent-color);
    align-items: center;
    text-align: center;
}

.logo-black {
    color: var(--black-logo-color);
}

.header {
    border-bottom: 1px solid;
    border-color: var(--border-header-color); 
}

.header-nav {
    margin-left: 93px;
}

.nav-flex {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.nav-link {
    display: block;
    margin-right: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-text-color);
    align-items: center;
}

.header-nav {
    display: flex;
    font-weight: 500;
    align-items: center;
} 

.current {
    color: var(--accent-color);
}


.header-contact-list {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.header-contact-item:not(:first-child) {
    margin-left: 50px;
}

.header-contact-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    align-items: center;
    color: var(--secondary-text-color);
}

.header-contact-link:hover,
.header-contact-link:focus {
    background-color: var(--white-background-color);
    color: var(--accent-color);
}

.footer-contact {
    margin-top: 20px;
}

.footer-contact-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-contact-map-link {
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    color: var(--white-text-color);
}

.footer-contact-link {
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    color: var(--footer-text-color);
}


.footer-contact-map-link:hover,
.footer-contact-map-link:focus {
    color: var(--accent-color);
}

.footer-contact-link:hover,
.footer-contact-link:focus {
    color: var(--accent-color);
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--hero-background-color);
}

.logo-white {
    color: var(--white-text-color);
}

.section-title {
    visibility: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    margin: -1px;
}

.service-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 696px;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--white-text-color);
}

.service {
    max-width: 1200px;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--hero-background-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images-bg/bg-service.png);
    background-repeat: no-repeat;
    background-position: center;
}

.service-button {
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    margin-top: 30px;
    min-width: 200px;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 10px 32px;
    background-color: var(--accent-color);
    color: var(--white-text-color);
}

.service-button:hover,
.service-button:focus {
    background-color: var(--white-background-color);
    color: var(--accent-color);
}

.menu {
    display: flex;
    justify-content: center;
}

.portfolio-button {
    display: inline-block;
    min-width: 73px;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: var(--team-background-color);
    padding: 6px 22px;
    font-family: Roboto, 
    sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    
    cursor: pointer;
    color: var(--primary-text-color);
}

.portfolio-btn-item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
}

.active.button {
    background-color: var(--accent-color);
    color: var(--white-text-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--white-background-color);
    color: var(--accent-color);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.portfolio-item {
    margin: 15px;
    flex-basis: calc((100% - 3 * 30px) / 3);    
}   

.portfolio-link {
    display: block;
}
    
.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 1px 4px 6px rgba(0, 0, 0, 0.16),
            0 4px 4px rgba(0, 0, 0, 0.06);
}

.portfolio-list-title {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--primary-text-color);
}

.portfolio-list-text {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.9;
    margin-top: 4px;
    color: var(--secondary-text-color);
}

.portfolio-frames {
    border: 1px solid var(--border-portfolio-color);
    border-top: transparent;
    padding: 20px 24px;
}


.features {
    display: flex;
}

.features-item:not(:last-child) {
    margin-right: 30px;
    max-width: 270px;
}

.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: uppercase;
    color: var(--primary-text-color);
}  

.features-text {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    margin-top: 10px;
    color: var(--secondary-text-color);
}

.work {
    padding-top: 0;
    padding-bottom: 94px;
}

.work-list {
    display: flex;
}

.work-title { 
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
    text-align: center;
    align-items: center;
    color: var(--primary-text-color);
}

.work-item {
    margin-right: 30px;
}

.work-item:last-child {
    margin-right: 0;
}

.team {
    background-color: var(--team-background-color);
}

.team-list {
    display: flex;
}

.team-title {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
    color: var(--primary-text-color);
}

.team-members {
    padding: 30px 0;    
}    

.team-member {
    font-family: Roboto, 
    sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--primary-text-color);
}

.team-item {
    margin-right: 30px;
}

.team-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item:last-child {
    margin-right: 0;
}

.team-text {
    font-family: Roboto, 
    sans-serif;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-top: 10px;
    color: var(--secondary-text-color);
}

.socials-list {
    display: flex;
}

.socials-item {
    height: 44px;
    weight: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.socials-icon {
    height: 20px;
    width: 20px;
}

.socials-icon:not(:last-child) {
    margin-right: 10px;
}

.nav-link:focus,
.nav-link:hover {
    color: var(--accent-color);
}

.clients-title {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1,17;
    text-align: center;
    margin-bottom: 50px;
    color: var(--primary-text-color);
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
}

.client-item {
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
    align-items: center;
}

.client-item {
    --items: 6;
}